*.tar.bz2
*.tar.gz
*~
.deps
.libs
/INSTALL
*.1
*.o
*.lo
*.la
*.info
/install-sh
/libtool.m4
/ltoptions.m4
/ltsugar.m4
/ltversion.m4
/lt~obsolete.m4
/missing
/test-driver
ChangeLog
Makefile
Makefile.in
aclocal.m4
autom4te*.cache
compile
config.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
libtool
libvcdinfo.pc
ltconfig
ltmain.sh
stamp-h
stamp-h.in
stamp-h1
tmp
vcdimager.spec
